body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    max-width: 1200px;
    /* Adjust based on your preference */
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    /* Ensures the rounded corners for the table */
}

th,
td {
    border-right: 1px solid #ddd;
    padding: 12px 8px;
    text-align: left;
}

th {
    background-color: #abbbcc;
    color: white;
    font-weight: normal;
}

tr {
    transition: background-color 0.3s ease;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #eff2f7;
}

.link-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}
.button-container {
  display: flex;
  justify-content: right;
  margin-top: 20px; 
}

.status-dropdown {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    box-sizing: border-box;
    cursor: pointer;
}

.completed,
.in-progress,
.not-taken {
    border-radius: 4px;
}

.completed {
    background-color: #28a745;
    color: white;
}

.in-progress {
    background-color: #ffc107;
    color: #212529;
}

.not-taken {
    background-color: #dc3545;
    color: white;
}

#levelColumn,
#notesColumn {
    width: 20%;
}

/* Hover effects for dropdowns */
.status-dropdown:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}   